
.card{
  height: 100%;
}

.card-body{
  background-color: #ddd398;
}

.card-title{
  background-color: #524d34;
  color: #ddd398;
  border: 1px solid black;
  border-radius: .5rem;
  font-weight: bolder;
  font-size: 2rem;
}

.card-subtitle{
  background-color: #524d34;
  color: #ddd398;
  font-size: .75rem;
}

.card-text{
  border: 1px dashed black;
  font-size: .8rem;
}

